html{
    box-sizing: border-box;
    border-color: #01996D;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


/* font-family: 'Alike', serif; */
/* font-family: 'Lato', sans-serif; */
.header {
    min-height: 980px;
    background-image: url(../img/screen-image\ GLAV.jpg);
    background-repeat: no-repeat; /*Не повторялось */
    background-size: cover;  /*  Для того, чтобы изобр вписывалось в свои размеры */
    
    
}
.contaner {

    max-width: 1413px;
    background-color: antiquewhite;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
:root{
    --white-color:#FFFFFF;
    --green-color:#01996D; 
    --black-color:#000000;
    --background-color:#FFFFFF;   
     
}
.mass1 {
   /* width:89px ;
   height: 23px;
   margin-left: 20px;
   margin-top: 13px; */
   
   

}
.mass2 {
    
 
   



}
.mass3 {
    
}
.mass4 {

}
.mass5 {

}

